<div class="chat__header">
  <div class="chat__header-name">techroom1</div>
  <a href="" class="chat__header-link">チャットを終了する</a>
</div>

<div class="chat__messages">
  <div class="chat__messages-item">
    <div class="chat__messages-name">神谷悟史<span class="chat__messages-date">2025/07/07 17:35:04</span></div>
    <div class="chat__messages-content">
      <p>テストテスト</p>
    </div>
  </div>
  <div class="chat__messages-item">
    <div class="chat__messages-name">神谷悟史<span class="chat__messages-date">2025/07/07 17:35:04</span></div>
    <div class="chat__messages-content">
      <p>テストテスト</p>
    </div>
  </div>
  <div class="chat__messages-item">
    <div class="chat__messages-name">神谷悟史<span class="chat__messages-date">2025/07/07 17:35:04</span></div>
    <div class="chat__messages-content">
      <p>テストテスト</p>
    </div>
  </div>
</div>

<div class="chat__form">
  <form>
    <div class="chat__form-wrap">
      <input type="text" placeholder="type a message" class="chat__form-text">
      <label class="chat__form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="chat__form-button">
  </form>
</div>