<div class="chat__messages-item">
  <div class="chat__messages-name"><%= message.user.name %><span class="chat__messages-date"><%= l message.created_at %></span></div>
  <div class="chat__messages-content">
    <p><%= message.content %></p>
  </div>
</div>